.tools {
  background: #141d38;
  color: #ffffff;
  &__wrap{
    box-shadow: 0px 0px 40px 5px rgb(0 0 0 / 3%);
  }
  &__pattren {
    &1,
    &2 {
      position: absolute;
      width: 25%;
      height: 100%;
      top: 0;
      background-size: cover;
    }
    &1 {
      left: 0;
      background: url(../../public/tool-pattern-1.png) no-repeat center;
    }
    &2 {
      right: 0;
      background: url(../../public/tool-pattern-2.png) no-repeat center;
    }
  }
}
